<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Assignmnet - advanced version</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/wall.css'%}">
</head>
<body>
    <header class="m-4 pt-3">
        <h1 class="h3">CodingDojo Wall</h1>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="h3 mr-4">Welcome {{this_user.first_name}}</h2>
            <a href="/logout">log off</a>
        </div>
    </header>
    <main class="ml-5">
        <div class="ml-3">
            <form action="/post_message" method="POST">
                {% csrf_token%}
                <div class="form-group">
                    <label for="message">Post a message</label>
                    <textarea name="message" class="form-control form-control-sm w-50"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-dark">Post a message</button>
                </div>
            </form>
        </div>
        <div class="ml-3 mt-3">
            {% for message in all_messages %}
            <div class="w-50 mt-5">
                <p class="h5">{{message.user.first_name}} {{message.user.last_name}} - {{message.created_at}}</p>
                <p>{{message.message}}</p>
            </div>
                {% for comment in message.comments.all %}
                    {% if this_user.first_name == comment.user.first_name %}
                        <div class="ml-5 mb-4">
                            <p class="h5">{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</p>
                            <p class="mb-0">{{comment.comment}}</p>
                            <a href="/delete_comment/{{comment.id}}">Delete Comment</a>
                        </div>
                    {% else %}
                        <div class="ml-5 mb-4">
                            <p class="h5">{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</p>
                            <p>{{comment.comment}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            <div class="ml-5">
                <form action="/post_comment" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Post a comment</label>
                        <textarea name="comment" class="form-control form-control-sm w-25"></textarea>
                    </div>
                    <input type="hidden" name="message_id" value="{{message.id}}">
                    <button type="submit" class="btn btn-dark">Post a comment</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>